@import "vars.scss";

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $text;
  overflow-x: hidden !important;
}

.swiper-pagination-progressbar-fill {
  border-radius: 10px;
  background: $blue;
}

.arrow__slider {
  outline: 0;
  transition: all 0.2s linear;
  &:hover {
    path {
      stroke: $blue;
    }
  }
}

// Header
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  transition: all 0.2s linear;
}

.header__burger {
  display: none;
}

.header__nav {
  display: none;
}

// Intro
.intro {
  position: relative;
  color: #fff;
  font-family: "MyriadPro-Regular";
  width: 100vw;
}

.intro__slide {
  background-size: cover;
  padding-top: 164px;
  height: 85vh;
  width: 100vw;
  margin-right: 0 !important;
}

.intro__slide__date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.intro__slide__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
}

.intro__slide__btn {
  display: inline-block;
  padding: 12px 17px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  color: #fff;
  transition: all 0.2s linear;
  margin-top: 30px;
}

.intro__slide__btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba($color: #000, $alpha: 0.25);
}

.intro__slide__btn img {
  display: inline-block;
  margin-left: 20px;
}

.intro__nav {
  width: 100%;
  height: 177px;
  position: absolute;
  left: 0;
  bottom: -120px;

  &--tablet {
    display: none;
  }
}

.intro__nav__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.intro__thumbs {
  background: #fff;
  z-index: 10;
  height: 177px;
  border-radius: 10px 0 0 10px;
  margin: 0;
}

.intro__thumbs__slide {
  min-width: 260px;
  width: 260px;
  height: 100%;
  padding: 28px;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
  border: 1px solid transparent;
  border-right: 1px solid #f4f4f4;
}

.intro__thumbs__slide.swiper-slide-thumb-active {
  // box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0365489),
  //   0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0525061),
  //   0px 12.5216px 10.0172px rgba(0, 0, 0, 0.065),
  //   0px 22.3363px 17.869px rgba(0, 0, 0, 0.0774939),
  //   0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0934511),
  //   0px 100px 80px rgba(0, 0, 0, 0.13);
  // border-color: $blue;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
  // border-right: 1px solid transparent;
}

.intro__thumbs__title {
  display: block;
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $blue;
}

.intro__thumbs__date {
  font-size: 14px;
  line-height: 26px;
  color: $text;
  position: absolute;
  bottom: 0;
  left: 28px;
}

.intro__thumbs__all {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 95px;
  min-width: 95px;
  height: 100%;
  height: 177px;
  background: linear-gradient(180deg, #00a0b4 0%, #5aaa96 100%);
  border-radius: 0px 10px 10px 0px;
  transition: all 0.2s linear;
  z-index: 10;
}

.intro__thumbs__all:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg, #00a0b4 0%, #5aaa96 100%);
}

.intro__thumbs__all img {
  display: inline-block;
  margin-left: 10px;
}

.intro__arrows {
  position: relative;
}

.intro__arrows__wrapper {
  position: absolute;
  right: 0;
  top: 180px;
}

.intro__next {
  display: inline-block;
  margin-left: 58px;
}

.intro__arrows--mobile {
  display: none;
}

.intro__map {
  height: 177px;
  border-radius: 10px;
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.intro__map__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
}

.intro__map__item {
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;
  position: relative;
  height: 177px;
  max-width: 260px;
  border-right: 1px solid #f4f4f4;
  background-color: #fff;
  transition: all 0.2s linear;
  cursor: pointer;

  &:first-child {
    border-radius: 10px 0 0 10px;
  }

  .intro__thumbs__title {
    font-size: 18px;
    line-height: 24px;
    font-family: "MyriadPro-Regular";
    font-style: normal;
    font-weight: normal;
    color: $text;
  }

  .intro__thumbs__date {
    bottom: 28px;
  }

  &.active {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0365489),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0525061),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.065),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0774939),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0934511),
      0px 100px 80px rgba(0, 0, 0, 0.13);
    border-color: transparent;
    // height: 194px;
    margin-top: -8px;
    z-index: 11;

    .intro__thumbs__title {
      color: $blue;
      // font-family: "MyriadPro-Bold";
      // font-style: normal;
      // font-weight: bold;
    }
  }

  &:hover {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0365489),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0525061),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.065),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0774939),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0934511),
      0px 100px 80px rgba(0, 0, 0, 0.13);
    border-color: transparent;
    // height: 194px;
    margin-top: -8px;
    z-index: 11;

    .intro__thumbs__title {
      color: $blue;
      // font-family: "MyriadPro-Bold";
      // font-style: normal;
      // font-weight: bold;
    }
  }
}

// Agency
.agency {
  padding-top: 190px;
  margin-bottom: 50px;
  background-color: #fff;
}

.agency__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 30px;
}

.agency__text.hidden {
  display: none;
}

.agency__link {
  color: $blue;
  border-bottom: 1px solid $blue;
  transition: all 0.2s linear;
}

.agency__link:hover {
  text-decoration: none;
  color: $blue;
  border-color: transparent;
}

// Employees
.employees {
  padding-top: 50px;
  padding-bottom: 110px;
  background: url("../img/employees__bg.png") no-repeat center #f9f9f9;
  background-size: cover;
  overflow: hidden;
}

.employees__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
}

.employees__header {
  margin-bottom: 50px;
}

.employees__arrows {
  position: relative;
}

.employees__arrows__wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.employees__next {
  margin-left: 57px;
}

.employees__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span {
    display: block;
  }
}

.employees__slide__name {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}

.employees__slide__phone {
  margin-top: 5px;
}

.employees__slide__mail {
  display: inline-block;
  color: $blue;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;
}

.employees__slide__mail:hover {
  color: $blue;
  text-decoration: none;
  border-color: $blue;
}

.employees__progress {
  display: none;
}

.employees__container {
  overflow: visible;
}

// Projects
.projects {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff;
  overflow: hidden;
}

.projects__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
}

.projects__header {
  margin-bottom: 40px;
}

.projects__arrows {
  position: relative;
}

.projects__arrows__wrapper {
  position: absolute;
  right: 0;
  top: 10px;
}

.projects__next {
  margin-left: 57px;
}

.projects__progress {
  display: none;
}

.projects__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 455px;
  max-width: 455px;
  //   min-width: 455px;
  height: 540px;
  padding: 0 30px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 10px;
  margin-right: 20px;
}

.projects__slide:hover {
  .projects__description {
    display: block;
    opacity: 1;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 1rem;
  }

  .projects__link {
    padding: 15px 33px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    color: #fff;
    transition: all 0.2s linear;
    margin-top: 25px;
    width: 230px;
    height: auto;
    font-size: 1rem;
  }

  .projects__bg {
    opacity: 0;
  }

  .projects__bg-2 {
    opacity: 1;
  }
}

.projects__slide__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #fff;
  z-index: 2;
}

.projects__description {
  // display: none;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: 2;
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  transition: all 0.2s linear;
  margin: 0;
}

.projects__link {
  // display: none;
  display: inline-block;
  height: 0;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
  transition: all 0.2s linear;
  z-index: 2;
}

.projects__link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba($color: #000, $alpha: 0.25);
}

.projects__bg-2 {
  background: linear-gradient(
    180deg,
    rgba(90, 170, 150, 0) 0%,
    rgba(0, 160, 180, 0.8) 34.46%
  );
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.2s linear;
  opacity: 0;
}

.projects__bg {
  background: linear-gradient(
    180deg,
    rgba(90, 170, 150, 0) 43.24%,
    #00a0b4 100%
  );
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.2s linear;
}

.projects__container {
  overflow: visible;
}

// Apply
.apply {
  padding-bottom: 100px;
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.apply__wrapper {
  width: 550px;
  max-width: 550px;
  text-align: center;
}

.apply__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
}

.apply__subtitle {
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 54px;
  margin-top: 10px;
}

.apply__form {
  input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #5a5a5a;
    margin-bottom: 45px;
    padding-bottom: 15px;
  }

  .apply__submit {
    margin: 0 auto;
    text-align: center;
    border: none;
    width: 190px !important;
    height: auto;
    padding: 17px 0;
    background: $blue !important;
    border-radius: 100px;
    color: #fff;
    // vertical-align: middle;
    border: 1px solid $blue !important;
    transition: all 0.2s linear;
  }

  .apply__submit:hover {
    background: transparent !important;
    color: $blue;
  }
}

// Footer
.footer {
  padding: 45px 0;
  background: #f5f5f5;
}

.footer__email {
  color: $blue;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;
}

.footer__email:hover {
  text-decoration: none;
  color: $blue;
  border-color: $blue;
}

.footer__right {
  img {
    display: inline-block;
    margin-left: 35px;
  }
}

.footer__right-1 {
  margin-bottom: 1rem;
}

.footer__social__link {
  display: inline-block;
  transition: all 0.2s linear;
  &:hover {
    transform: translateY(-5px);
    text-decoration: none;
  }
}

@media (max-width: $tablet) {
  .intro__nav {
    display: none;
    &--tablet {
      display: block;
      position: static;
      border-radius: 10px;
      background-color: #ccc;
      height: auto;
    }
  }

  .intro__nav__bg {
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: -1;
  }

  .intro__nav__item {
    display: block;
    width: 100%;
    color: $text;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c8c8c8;
    background-color: #fff;

    &--special {
      background: linear-gradient(180deg, #00a0b4 0%, #5aaa96 100%);
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 0px 0 10px 10px;

      img {
        display: inline-block;
        margin-left: 15px;
      }
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }
  }

  .intro__nav__item__title {
    font-size: 18px;
    line-height: 24px;
  }

  .intro__nav__item__date {
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
  }

  .intro__map {
    display: none;
  }

  .employees__container {
    overflow: hidden;
  }

  .projects__container {
    overflow: hidden;
  }

  .agency {
    padding-top: 50px;
  }
}

@media (max-width: $mobile) {
  .header__right {
    display: none !important;
  }

  .header__burger {
    display: block;
    width: 36px;
    height: 21px;
    background: url("../img/burger.svg") no-repeat center;
    margin-right: 15px;

    &.active {
      width: 27.7px;
      height: 27.87px;
      background: url("../img/close.svg") no-repeat center;
    }
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro__slide {
    height: 424px;
    padding-top: 113px;
  }

  .intro__slide__date {
    font-size: 16px;
  }

  .intro__slide__title {
    font-size: 28px;
    line-height: 36px;
  }

  .intro__slide__btn {
    margin-top: 0px;
    font-size: 18px;
    line-height: 16px;
  }

  .intro__arrows {
    display: none;
  }

  .intro__arrows__wrapper {
    position: static;
  }

  .intro__arrows--mobile {
    display: block;
    img {
      // width: 24px;
      // height: 12px;
    }
  }

  .intro__slide__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .intro__next {
    margin-left: 41px;
  }

  .intro__map {
    display: none;
  }

  .agency__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .agency__text {
    font-size: 18px;
    line-height: 26px;
  }

  .employees {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .employees__arrows {
    display: none;
  }

  .employees__title {
    font-size: 28px;
    line-height: 54px;
  }

  .employees__header {
    margin-bottom: 20px;
  }

  .employees__slide__img {
    width: 244px;
    height: 244px;
  }

  .employees__progress {
    margin-top: 30px;
    display: block;
    height: 7px;
    width: 100%;
    position: static;
    border-radius: 10px;
  }

  .employees__container {
    overflow: hidden;
  }

  .projects {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .projects__arrows {
    display: none;
  }

  .projects__title {
    font-size: 28px;
    line-height: 36px;
  }

  .projects__header {
    margin-bottom: 30px;
  }

  .projects__progress {
    margin-top: 30px;
    display: block;
    height: 7px;
    width: 100%;
    position: static;
    border-radius: 10px;
  }

  .projects__container {
    overflow: hidden;
  }

  .apply {
    padding-bottom: 60px;
  }

  .apply__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
  }

  .apply__subtitle {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .apply__wrapper {
    width: 100%;
    max-width: 100%;
  }

  .apply__form {
    input {
      margin-bottom: 30px;
    }
  }

  .apply__submit {
    margin: 0 !important;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .footer__left-2 {
    margin-bottom: 30px;
  }

  .footer__right-1 {
    border-top: 1px solid #e6e6e6;
    padding: 20px 0;
  }

  .footer__right-2 {
    border-top: 1px solid #e6e6e6;
    padding: 20px 0;
  }

  .footer__right-1 > div {
    justify-content: space-between !important;
  }

  .footer__right-2 > div {
    justify-content: space-between !important;
  }

  .footer__line {
    display: none !important;
  }

  .footer__right {
    img {
      margin-left: 0;
    }
  }

  .footer__social {
    img {
      margin-left: 40px;
    }
  }

  .header__nav {
    padding-top: 50px;
    &.active {
      z-index: 10;
      display: block;
      position: absolute;
      top: 75px;
      left: 0;
      background-color: #fff;
      width: 100%;
      box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0590406),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0848175),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.105),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.125183),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.150959),
        0px 100px 80px rgba(0, 0, 0, 0.21);
      border-radius: 0px 0px 10px 10px;
    }
  }

  .header__nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      display: inline-block;
      margin-bottom: 55px;
    }
  }

  .header {
    &.active {
      background-color: #000;
    }
  }
}

@media (max-width: 320px) {
  .intro__arrows__wrapper {
    display: none;
  }

  .footer__social img {
    margin-left: 20px;
  }
}

// Detail News
.newsdetail__intro {
  height: 100vh;
}

.newsdetail__content {
  padding-top: 30px;
}

.newsdetail__content__left {
  p {
    margin-bottom: 30px;
  }
}

.newsdetail__content__left__wrapper {
  width: 90%;
}

.newsdetail__item {
  display: inline-block;
  padding: 20px 0;
  color: $text;
  border-bottom: 1px solid #f4f4f4;
  transition: all 0.2s linear;

  &:hover {
    color: $blue;
    text-decoration: none;
    border-color: $blue;
  }
}

.newsdetail__date {
  margin-top: 10px;
}

.newsdetail__swhowall {
  color: $blue;
  display: inline-block;
  margin-top: 30px;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $blue;
    text-decoration: none;
    border-color: $blue;
  }

  img {
    display: inline-block;
    margin-left: 10px;
  }
}

.newsdetail__slider {
  margin: 40px 0;
}

.newsdetail-top {
  .swiper-slide {
    width: 100%;
    height: 404px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.newsdetail-thumbs {
  .swiper-slide {
    width: 150px;
    height: 92px;
    min-width: 135px;
    min-height: 83px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &.swiper-container {
    margin: 0;
  }

  .swiper-slide-thumb-active {
    // outline: 5px solid $blue; /* Пунктирная рамка */
    // outline-offset: -5px;
    box-shadow: 0px 0px 0px 5px $blue inset;
  }
}

.newsdetail__nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsdetail__progress {
  display: none;
}

.newsdetail__nav--tablet {
  display: none;
}

@media (max-width: $tablet) {
  .newsdetail__intro {
    height: 568px;
  }

  .newsdetail__content__left__wrapper {
    width: 100%;
  }

  .newsdetail__swhowall {
    img {
      display: inline-block;
      margin-left: 0px;
    }
  }
}

@media (max-width: $mobile) {
  .newsdetail__intro {
    height: 403px;
  }

  .newsdetail__content {
    padding-top: 20px;
  }

  .newsdetail__slider {
    margin: 30px 0;
  }

  .newsdetail__nav {
    display: none;
  }

  .newsdetail__progress {
    display: block;
    margin-top: 20px;
    height: 7px;
    width: 100%;
    position: static;
    border-radius: 10px;
  }

  .newsdetail-top {
    .swiper-slide {
      height: 204px;
      width: 335px;
      max-width: 335px;
    }
  }

  .newsdetail__content__right {
    display: none;
  }

  .newsdetail__nav--tablet {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

// News List
.newslist__header {
  position: static;
  background-color: #fff;
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
}

.newslist__content {
  padding-top: 40px;
  padding-bottom: 100px;
}

.newslist__title {
  font-family: "MyriadPro-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 30px;
}

.newslist__item {
  display: inline-block;
  margin-bottom: 60px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    .newslist__item__bg {
      opacity: 1;
    }

    .newslist__item__title {
      color: $blue;
    }

    .newslist__item__date {
      color: $text;
    }
  }

  &--special {
    border-right: 1px solid #f4f4f4;

    &:last-child {
      border-right: none;
    }

    &.hidden {
      display: none;
    }
  }
}

.newslist__item__wrapper {
  position: relative;
  width: 360px;
  height: 230px;
}

.newslist__item__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(90, 170, 150, 0.12) 0%,
    rgba(0, 160, 180, 0.8) 100%
  );
  border-radius: 10px;
  opacity: 0;
  transition: all 0.2s linear;
}

.newslist__item__title {
  margin-top: 20px;
  font-family: "MyriadPro-Regular";
  transition: all 0.2s linear;
  color: $text;
}

.newslist__item__date {
  font-size: 14px;
  line-height: 26px;
  font-family: "MyriadPro-Regular";
  margin-top: 10px;
  color: $text;
}

.newslist__shormore__wrapper {
  text-align: center;
  width: 100%;
}

.newslist__shormore {
  padding: 17px 100px;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  border-radius: 100px;
  background-color: $blue;
  border: 1px solid $blue;
  transition: all 0.2s linear;

  &:hover {
    color: $blue;
    text-decoration: none;
    background-color: transparent;
  }
}

.newslist__nav--tablet {
  display: none;
}

@media (max-width: $tablet) {
  .newslist__item {
    margin-bottom: 40px;

    &--special {
      display: none;
    }
  }
  .newslist__item__wrapper {
    position: relative;
    width: 324px;
    height: 207px;

    img {
      width: 324px;
      height: 207px;
    }
  }

  .newslist__nav--tablet {
    display: block;
    margin-bottom: 10px;
    .intro__nav__item {
      border: none;
      border-top: 1px solid #c8c8c8;

      &:first-child {
        border-radius: 0 !important;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .newslist__item {
    margin-bottom: 30px;
  }

  .newslist__header {
    border: none;
    .header__burger {
      background-image: url("../img/burger--gray.svg");

      &.active {
        background-image: url("../img/close--gray.svg");
      }
    }
  }

  .newslist__content {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .newslist__item__wrapper {
    position: relative;
    width: 335px;
    height: 230px;

    img {
      width: 335px;
      height: 230px;
    }
  }

  .newslist__shormore {
    padding: 20px 78px;
  }
}

// Fonts
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
